/* PHASE 6: Sidebar */
.profile-picture {
  display: block;
  position: relative;
  margin-top: -120px;
  height: auto;
  border: 1px solid #000;
  border-radius: 5px;
}

.profile-info {
  padding: 20px 0px;
  border-bottom: 1px solid #ccc;
}

.profile-info h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-nav {
  margin-bottom: 20px;
}

.profile-nav li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.profile-nav li:hover {
  background-color: #eee;
}
